<div class="nasa-container">
  <header style="text-align: center; margin-bottom: 30px;"> 
    <h1>🌌 Nasa.io</h1>
    <p class="project-desc">Objetivo: Trazer em tempo real publicações oficiais da NASA via API REST.</p>
  </header>

  <div *ngIf="loading" class="status">🚀 Recebendo transmissão do espaço...</div>

  <div *ngIf="nasaData" class="nasa-card">
    <img [src]="nasaData.url" [alt]="nasaData.title">
    <div class="card-body">
      <span class="badge">{{ nasaData.date | date:'dd/MM/yyyy' }}</span>
      <h2>{{ nasaData.title }}</h2>
      <div class="explanation-box">
        <span *ngIf="translating" class="translate-tag">(Traduzindo...)</span>
        <p>{{ nasaData.explanation }}</p>
      </div>
    </div>
  </div>
</div>